<div class="container">
    <h1>Michael's Ethereum Voting App</h1>
    <app-candidates-list></app-candidates-list>

    <form class="form" [formGroup]="votingForm">
        <div class="form-group">
            <label>Vote for Candidate</label>
            <select formControlName="candidate">
                <option *ngFor="let candidate of candidates" value="{{candidate.name}}">{{ candidate.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" (click)="vote()">Vote!</button>
        </div>
    </form>
</div>


